@import "./helpers.scss";

.order-list-item {
  cursor: pointer;
  // background-color: $rrblue;
  // color: white;
  margin-bottom: 8px;
  min-width: 280px;
  border: 2px inset $rrblue;
  border-radius: 12px;
  box-shadow: 0 1px 2px 0.5px $rrblue;
  padding: 12px;
  @include flexbox(row, space-around, center);
  .order-pricing-summary {
    @include flexbox(row, space-between, center);
  }
  // position: absolute;
}
.create-driver-form,
.create-order-form {
  padding-top: 36px;
}
.view-header {
  text-align: center;
  color: #5D5D5D;
  margin-bottom: 12px;
}
.form-label .flex {
  display: flex;
}
.partial-hide {
  opacity: 0.4;
}
.rr-flex-row {
  @include flexbox(row, space-around, center);
}

form {
  fieldset {
    // -webkit-border
    border-width: 2px;
    // position: relative;
    border-style: groove;
    border-color: grey;
    border-image: initial;
    position: relative;
    margin-top: 24px;
    padding: 12px;
    padding-top: 48px;
    .input-group {
      width: 30%;
    }
  }
  legend {
    background-color: $rrblue;
    color: #fff;
    top: -20px;
    padding: 3px 6px;
    margin-left: 12px;

    position: absolute;
    width: min-content;
  }

  .form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  button[type="submit"] {
    margin: 0 auto;
    display: inherit;
    margin-top: 36px;
  }
}
.create-order-form {
  fieldset {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .input-group {
    max-height: 38px;
  }
}
.display-container {
  overflow-x: auto;
  max-width: 60%;
  min-width: 60%;
  @include flexbox(row, flex-start, center);
  white-space: nowrap;
  border: 1px solid $rrblue;
  padding: 12px;
}

.display-item {
  border-radius: 16px;
  margin: 2px;
  margin-right: 16px;
  box-shadow: 0 4px 8px 2px grey;
  padding: 7px 5px;
  @include flexbox(row, space-between, center);
  &:hover {
    border: 1px solid $rrblue;
    margin: 1px;
    margin-right: 15px;
  }
  img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin-right: 12px;
  }
}
.display-item.selected {
  border: 2px solid $rrblue;
  margin: 0;
  margin-right: 14px;
}
.supplier-form-container {
  min-height: 180px;
}
.light-color-text {
  color: #5D5D5D;
}
.green-color-text {
  color: green;
}
.red-color-text {
  color: red;
}

.bg-image {
  background-size: cover;
  height: 50px;
  width: 50px;
}

@media screen and (max-width: 991px) {
  form {
    .form-row {
      flex-direction: column;
    }
  }
  form {
    fieldset {
      .input-group {
        width: 95%;
      }
    }
  }
  .display-container {
    max-width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .manual-check {
    position: absolute;
    bottom: 12px;
    left: 32px;
    white-space: nowrap;
  }
  .input-group {
    min-width: 222px;
  }
}
