@import "./helpers.scss";
.home-banner {
  height: 48px;
  .title {
    color: #0b2575;
    font-weight: bold;
    padding: 12px;
  }
}

.main-layout {
  @include flexbox(row, space-around, flex-start);
  width: 100%;
  height: calc(100vh - 48px);
  padding: 24px;
  height: fit-content;
  .driver-layout {
    width: 24%;
    padding: 12px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 1px $rrblue;
    position: relative;
    min-height: fit-content;
    min-width: 357px;
    height:88vh;
    transition: all 1s;
    button {
      display: inherit;
      margin: 0 auto;
      margin-top: 12px;
    }
    &:hover {
      .delete-icon-driver {
        display: block;
        text-align: right;
      }
    }
  }
  .delete-icon-driver {
    // display: none;
    text-align: right;
    display: block;
  }

  .order-layout {
    padding: 12px;
    box-shadow: 0 2px 4px 1px $rrblue;
    max-width: 50%;
    border-radius: 4px;
    min-width: 357px;

    height:88vh;
    min-height: fit-content;
    transition: all 1s;
    button {
      display: inherit;
      margin: 16px auto;
      margin-bottom:30px;
    }
  }
  .order-layout.selected,
  .driver-layout.selected {
    transform: scale(1.05);
  }
  .order-layout.unselected,
  .driver-layout.unselected {
    transform: scale(1);
  }
}

@media screen and (max-width: 992px) {
  .main-layout {
    padding: 0;
    @include flexbox(column, flex-start, center);
    .order-layout {
      width: calc(100% - 16px - 4px);
      margin: 8px;
      margin-top: 36px;
      max-width: 100%;
      height:fit-content;
    }
    .driver-layout {
      width: calc(100% - 16px - 4px);
      margin: 8px;
      min-width: 30%;
      height:fit-content;

    }
  }
}
@media screen and (max-height: 700px) {
  .main-layout {
    .order-layout{
      min-height: fit-content;
      height: auto;
    }
  }
}
@media screen and (max-width: 325px) {
  .main-layout {
    .driver-layout {
      min-width: 30%;
    }
  }
}
