@import "./helpers.scss";
.home-banner {
  height: 48px;
  .title {
    color: #0b2575;
    font-weight: bold;
    padding: 12px;
  }
}

.main-layout {
  @include flexbox(row, space-around, flex-start);
  width: 100%;
  height: calc(100vh - 48px);
  padding: 24px;
  height: fit-content;
  .driver-layout {
    width: 24%;
    padding: 8px;
    // border: 1px solid $rrblue;
    border-radius: 4px;
    box-shadow: 0 2px 4px 1px $rrblue;
    min-height: 95%;
    max-height: 95%;
    min-width: 340px;
    transition: all 1s;
    button {
      display: inherit;
      margin: 0 auto;
    }
  }

  .order-layout {
    // border: 1px solid $rrblue;
    padding: 12px;
    box-shadow: 0 2px 4px 1px $rrblue;
    max-width: 50%;
    border-radius: 4px;
    height: 95%;
    transition: transform 1s, width 1s, max-height 1s;
    button {
      display: inherit;
      margin: 0 auto;
    }
  }
  .order-layout.selected,
  .driver-layout.selected {
    transform: scale(1.05);
    // animation: animGrow 1s forwards;
  }
  .order-layout.unselected,
  .driver-layout.unselected {
    transform: scale(1);
    // animation: animGrow 1s reverse;
  }
}

@keyframes animGrow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}
@keyframes animShrink {
  from {
  }
  to {
    transform: scale(0.95);
  }
}

@media screen and (max-width: 992px) {
  .main-layout {
    padding: 0;
    @include flexbox(column, flex-start, center);
    .order-layout {
      width: calc(100% - 16px - 4px);
      margin: 8px;
      margin-top: 36px;
      max-width: 100%;
    }
    .driver-layout {
      width: calc(100% - 16px - 4px);
      margin: 8px;
      min-width: 30%;
    }
  }
}
@media screen and (max-width: 325px) {
  .main-layout {
    .driver-layout {
      min-width: 30%;
    }
  }
}
